/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/regBg.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Centers the background image */
}


.register-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 20px;
    z-index: 1;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.register-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #013D67;
}

.form-label {
    font-size: 1rem;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #89c5f1;
    outline: none;
}

#message {
    font-size: 0.9rem;
    color: #666;
}

.btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
}

.register-link a {
    color: #013D67;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.register-link a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #013D67;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.register-link a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.BlueBtn{
    color: #013D67; 
    font-size: 18px; 
    font-family: 'Poppins';
    font-weight: 500;
    background-color: #AAD7F6!important;
  }

  .BlueBtn:hover{
    color: white; 
    font-size: 18px; 
    font-family: 'Poppins';
    font-weight: 500;
    background-color: #0b6fda!important;
  }